body{
	font-family: Dancing Script;
	background-color: #02010a;
}
header{
	color: white;
	width: 100%;
	background-color: #5b7989;
	border-radius: 10px 10px 0px 0px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
header h1{
	padding-left: 10px;
	text-shadow: 2px 2px 2px #02010a;
}
nav{
	padding-right: 10px;
}
nav a{
	color: white;
  text-decoration: none;
	margin: 2px 2px;
	padding-bottom:10px;
}
nav a + a::before{
	content: " | ";
	color: white;
}

#principal{
	background: #82c3a6;
	text-align: center;
	padding: 20px 20px;
}
#principal img{
	width: 85%;
}
#second{
	text-align: center;
	justify-content: center;
	background: #d5c75f;
	display: flex;
	flex-direction: row;
	border: 1px;
	padding: 1% 3% 1% 3%;
}
#second div{
	display: inline-block;
	margin: 0px 2px 0px 2px;
	width: 45%;
}
#second div img{
	width: 90%;
	max-height: 300px;
}

@keyframes rotate{
	from
	{transform: rotate(0deg);}
	to
	{transform: rotate(10deg);}
}
#paisajes img:hover{
	animation-name: rotate;
	animation-duration: 2s;
}

@keyframes Retratos{
	from
	{transform: translate(0px,0px);}
	to
	{transform: translate(20px,-5px);}
}
#Retratos img:hover{
	box-shadow: 2px 2px 2px #82c3a6;
	animation-name: Retratos;
	animation-duration: 2s;

}

footer{
	background-color: #C6d5c5;
	padding: 2% 1% 2% 1%;
	border-radius: 0px 0px 10px 10px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	font-weight:bold;
	font-size: 20px;
}
footer div{
	padding: 1%;
	width: 24%;
}
footer img{
	max-width: 10%;
	padding: 1%;
}
