body
{
	font-family: Dancing Script;
	background-color: #02010a;
}

header{
	color: white;
	width: 100%;
	background-color: #5b7989;
	border-radius: 10px 10px 0px 0px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
header h1{
	padding-left: 10px;
	text-shadow: 2px 2px 2px #02010a;
}
nav{
	padding-right: 10px;
}
nav a{
	color: white;
  text-decoration: none;
	margin: 2px 2px;
	padding-bottom:10px;
}
nav a + a::before{
	content: " | ";
	color: white;
}

#principal
{
	background: #82c3a6;
	text-align: center;
	padding: 20px 20px;
}
#principal img{
	width: 85%;
}
#second
{
	background: #d5c75f;
	text-align: center;
	border: 1px;
}

.footer
{
	background-color: #C6d5c5;
	padding: 10px;
	border-radius: 0px 0px 10px 1 0px;
}
/*

.container
{
	margin: 0;
	padding: 0;
	width: 100%;
}

.container div
{
	box-sizing: border-box;
	min-width: 150px;
	padding: 20px;
}



.body
{
	color: black;
	width: 100%;
	background-color: #5b7989;
	border-radius: 10px 10px 0px 0px;
	padding: 10px;

}


/*
.header h1
{
	text-align: left;
	color: white;
	text-shadow: 2px 2px #02010a;
}

/*.c2 {
	color: black;
	background-color: #F4F1BB;
}

.c3 {
	color: black;
	background-color: #9BC1BC;
}

.c4 {
	color: black;
	background-color: #36C9C6;
}

.c5 {
	color: white;
	background-color: #ED6A5A;
}

.container {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
}

.c1, .c2, .c3, .c4, .c5 {
width: 100%;
}

@media (min-width: 600px) {
.c2, .c3, .c4, .c5 {
width: 50%;
}
}

@media (min-width: 800px) {
.c1 {
width: 100%;
}

.c2 {
width: 100%;
}

.c3, .c4, .c5 {
width: 33.33%;
}

.container {
width: 800px;
margin-left: auto;
margin-right: auto;
}
}*/
